body {
    background-color: rgba(0, 0, 0, 0.03);
    height: 100vh;
    /* display: flex;
    align-items: center; */
}
.card {
    width: 470px;
    border-color: rgba(0, 0, 0, 0.2);
}

.card a {
    text-decoration: none;
}
.logo {
    max-width: 150px;
    max-height: 150px;
}

.card .form-control {
    background-color: rgba(0, 0, 0, 0.03);
    color: #000;
}
.card .form-control:focus {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: none;
    border: 1px solid black;
}
.card .submit {
    width: 200px;
}
@media (max-width: 768px) {
    .card {
        width: 80% !important;
        border-color: rgba(0, 0, 0, 0);
    }
    .logo {
        max-width: 120px;
        max-height: 120px;
    }
    .card .submit {
        width: 140px;
    }
}
@media (max-width: 992px) {
    .card {
        width: 470px;
    }
}
@media (max-width: 1400px) {
    .card {
        width: 470px;
    }
}
